{% extends 'base.html' %}
{% load monitor_tags %}


{% block title %}
{{title}} :: {{block.super}}
{% endblock %}



{% block content %}
<h1>{{title}}</h1>

<form action="{% url 'history' %}" method="get" id="interval">

  <div class="box sort pull-right">
    <span>С:</span>
    <input type="date" id="from" name="trip-from" value="{{ from_date }}" min="2023-03-05" max="2050-03-05">
    <span>По:</span>
    <input type="date" id="to" name="trip-to" value="{{ to_date }}" min="2023-03-05" max="2050-03-05">
    <button value="Сортировка"  type="submit" >
     Сформировать
    </button>
  </div>
</form>

<table class="table table-hover table-dark table-group-divider">
    <thead >
    <tr>
        <td>Оператор</td>
        <td>Каналы связи</td>
        <td>Время отключения</td>
        <td>Время включения</td>
        <td>Простой</td>
        <td>Тип проблемы</td>
        <td>Номер заявки</td>
        <td>Примечание</td>
        <td>Статус</td>


    </tr>
    </thead>
    <tbody>

    {% for incident in incidents %}
    <tr>


        <td>
            <a href="{{ incident.get_absolute_url }}">
            {{ incident.provider }}
            </a>
        </td>
        <td>
        {% for channel in incident.channels.all %}
        {{ channel }}
        <br>
        {% endfor %}
        </td>
        <td>{{ incident.date_time_from|date:"d.m.y H:i" }}</td>
        <td>{{ incident.date_time_to|date:"d.m.y H:i" }}</td>
        <td>{{ incident.date_time_from|period:incident.date_time_to }}</td>
        <td>{{ incident.get_type_display }}</td>
        <td>
            {% if incident.request_state == 'N' %}

            Заявка не заводилась

            {% elif incident.request_state == 'C' %}

            {{ incident.request }}<br>
            <div class="p-1 bg-success w-100">Заявка закрыта</div>

            {% elif incident.request_state == 'O' %}

            {{ incident.request }}<br>
            <div class="p-1 bg-danger w-100">Заявка открыта
                <a data-id="{{ incident.pk }}" data-bs-toggle="modal" data-bs-target="#exampleModal" title="Закрыть заявку" href="#">X</a> </div>

            {% endif %}
        </td>
        <td>{{ incident.more_info }}</td>
        <td >
             {% if incident.state == 'I' %}

             <div class="p-1 bg-danger w-100"  >Актуальна</div>

             {% else %}

             <div class="p-1 bg-success w-100">Закрыта</div>

             {% endif %}
        </td>

    </tr>

    {% endfor %}

    </tbody>
</table>


            {% if page_obj.has_other_pages %}
    <div class="pegination">
        <div class="nav-links">
            {% if page_obj.has_previous %}
            <a class="page-numbers" href="{{ pre_paginate }}page={{page_obj.previous_page_number}}"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            {% endif %}

            {% if page_obj.number > 2 %}
            <a class="page-numbers" href="{{ pre_paginate }}page={{ page_obj.number|add:'-2'}}">{{ page_obj.number|add:'-2'}}</a>
            {% endif %}

            {% if page_obj.has_previous %}
            <a class="page-numbers" href="{{ pre_paginate }}page={{page_obj.previous_page_number}}">{{ page_obj.previous_page_number}}</a>
            {% endif %}

            <span class="page-numbers current">{{page_obj.number}}</span>

            {% if page_obj.has_next %}
            <a class="page-numbers" href="{{ pre_paginate }}page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a>
            {% endif %}
            {% if  page_obj.paginator.num_pages > page_obj.next_page_number %}
            <a class="page-numbers" href="{{ pre_paginate }}page={{ page_obj.number|add:'2'}}">{{ page_obj.number|add:'2'}}</a>
            {% endif %}

            {% if page_obj.has_next %}
            <a class="page-numbers" href="{{ pre_paginate }}page={{page_obj.next_page_number}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            {% endif %}
        </div>
    </div>
        {% endif %}


<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Закрытие заявки</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        Заявка будет закрыта, пометить проблему как "не актуально"?
      </div>
      <div class="modal-footer">
        <button id="but1" type="button" onclick="IncHref" class="btn btn-primary">Да</button>
        <button id="but2" type="button" onclick="IncHref" class="btn btn-primary">Нет</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  $('a[data-bs-toggle=modal], button[data-bs-toggle=modal]').click(function () {
    var IncidentCloseHref1 = "document.location='/incident/close/"+$(this).data('id')+"/?change_inc_state=True'";
    var IncidentCloseHref2 = "document.location='/incident/close/"+$(this).data('id')+"/'";
    //alert(IncidentCloseHref)
    $("#but1").attr('onclick', IncidentCloseHref1);
    $("#but2").attr('onclick', IncidentCloseHref2);
  })
});

</script>
{% endblock %}
