{% extends 'base.html' %}

{% block title %}
{{title}} :: {{block.super}}
{% endblock %}

{% block sidebar %}
{{ rand }}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<h1>Актуальные проблемы каналов</h1>
<table class="table table-hover table-dark">
    <thead >
    <tr>
        <td>Оператор</td>
        <td>Каналы связи</td>
        <td>Время отключения</td>
        <td>Время включения</td>
        <td>Период пропадания</td>
        <td>Статус</td>
        <td>Номер заявки</td>
        <td>Дополнительная информация</td>
    </tr>
    </thead>
    <tbody>

    {% for incident in incidents %}
    <tr>


        <td>
            <a href="{{ incident.get_absolute_url }}">
            Оператор
            </a>
        </td>
        <td>
        {% for channel in incident.channels.all %}
        {{ channel }}
        <br>
        {% endfor %}
        </td>
        <td>{{ incident.date_time_from }}</td>
        <td>{{ incident.date_time_to }}</td>
        <td>Период пропадания</td>
        <td>{{ incident.state }}</td>
        <td>{{ incident.request }}</td>
        <td>{{ incident.more_info }}</td>

    </tr>

    {% endfor %}

    </tbody>
</table>
{% endblock %}