{% extends 'base.html' %}
{% load monitor_tags %}


{% block title %}
{{title}} :: {{block.super}}
{% endblock %}


{% block content %}
<h1>{{title}} </h1>

<form action="{% url 'stat' %}" method="get" id="interval">

  <div class="box sort pull-right">
      Оператор:
      <select name="provider">

    <option selected value="0">Все</option>
   {% for provider in providers %}
    <option value="{{provider.pk}}">{{provider}}</option>
   {% endfor %}
   </select>
    <span>С:</span>
    <input type="datetime-local" id="from" name="trip-from" value="{{ from_date_time }}" min="2023-01-01T00:00" max="2030-01-01T00:00">
    <span>По:</span>
    <input type="datetime-local" id="to" name="trip-to" value="{{ to_date_time }}" min="2023-01-01T00:00" max="2030-01-01T00:00">
    <button type="submit" >
     Сформировать
    </button>
  </div>
</form>

STAT

{% for key, statitem in StatItems.items %}
<br>
{{ statitem.chan_name }}
duration:
{% delta_time_to_period statitem.duration %}
count:
{{ statitem.count }}

{% endfor %}
{% endblock %}
